<div class="card-wrapper">
  <section class="ion-padding-horizontal">
    <ion-card-subtitle class="ion-header-margin-vertical" class="list-header">TEAM ({{ membersLength }})</ion-card-subtitle>
    <ion-card class="ion-margin-vertical shadow">
      <ion-card-content>
        <app-expandable-card [card]="teamMembersList" [item]="items[0]" [items] = "items" [showArrow] = "members">
          <ion-list #teamMembersList>
            <app-team-member *ngFor="let member of members | async" [member] = "member"></app-team-member>
          </ion-list>
        </app-expandable-card>
      </ion-card-content>
    </ion-card>
  </section>
  <section class="ion-padding-horizontal">
    <ion-card-subtitle class="ion-header-margin-vertical" class="list-header">ALERTS ({{ alertsLength }})</ion-card-subtitle>
    <ion-card class="ion-margin-vertical shadow">
      <ion-card-content>
        <app-expandable-card [card]="alertsList" [item]="items[1]" [items] = "items" [showArrow] = "alerts">
          <ion-list #alertsList>
            <app-alert class="item" *ngFor="let alert of alerts | async" [alert] = "alert">
            </app-alert>
          </ion-list>
        </app-expandable-card>
      </ion-card-content>
    </ion-card>
  </section>
</div>
