
.button_member_icon{
  fill: black
}


.ion-padding-horizontal{
  padding: 0 16px;
}

.ion-margin-vertical{
  margin: 16px 0;
}

.ion-header-margin-vertical{
  margin: 24px 0;
}

.list-header{
  font-size: 16px;
  font-weight: bold;
  /* font-stretch: extra-condensed; */
  font-variant: all-petite-caps;
  letter-spacing: 2px;
}

.card-wrapper{
  padding-top: 20px;
}

.capitalized h3{
  font-size: 16px;
  text-transform: capitalize;
}

.capitalized p{
  font-size: 12px;
}
