.expand-wrapper {
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
  height: auto;
}

.collapsed {
  max-height: 60px !important;
}

[name = arrow-down], [name = arrow-up]{
  width:100%;
  margin-bottom: -20px;
  padding:10px 0px;
  height: 1.2em;
}
