.expand-wrapper {
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
  height: auto;
  background-color: white
}

.collapsed {
  max-height: 68px !important;
}

[name = ios-arrow-down], [name = ios-arrow-up]{
  width:100%;
  margin-bottom: -20px;
  padding:10px 0px;
  height: 1.2em;
  font-weight: bold;
  background-color: white;
}
